@model ComitLibrary.Models.Book

<div>
    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">@Model.Author</dd>

        <dt class="col-sm-3">Is Checked Out</dt>
        <dd class="col-sm-9">@Model.IsCheckedOut</dd>

        <dt class="col-sm-3">Genre</dt>
        <dd class="col-sm-9">Drama</dd>

        <dt class="col-sm-3">Year</dt>
        <dd class="col-sm-9">0000</dd>

    </dl>

    @if (!Model.IsCheckedOut) {
        <div>
            <a class="btn btn-success" asp-controller="Loan" asp-action="Create" asp-route-id="@Model.Id">Checkout</a>
        </div>
        <br/>
    } else {
        <div>
            <a class="btn btn-warning" asp-controller="Loan" asp-action="Return" asp-route-id="@Model.Id">Return</a>
        </div>
        <br/>
    }

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit Book</a>
    </div>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>

    <hr/>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>
